name: Generate Snake

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Generate Snake
        uses: Platane/snk@v3
        with:
          github_user_name: PandeyDev23
          outputs: |
            dist/github-contribution-grid-snake.svg
            # Spider-Man Theme: Dark Background, Red Snake, Blue Dots
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark&color_snake=#e62429&color_dots=#0d1117,#0e3f73,#125096,#1763ba,#1c76de
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Push to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

